.designTools {
    padding: 8px;
    background-color: white;
    border-bottom: 1px solid #dddddd;
    min-height: 24px;
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
  }
  
  .nothingSelected {
    font-size: 1.2rem;
    color: #5a5a5a;
    font-weight: 600;
  }
  
  .colorNav {
    display: flex;
    align-items: center;
  }
  
  .deleteNav {
    display: flex;
    justify-content: center;
    align-items: center ;

  }
  
  .delete-btn {
    padding: 10px 10px;
    border: 1px solid #ffbc2a;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
    background-color: #ffbc2a;
    margin-left: 20px;
  }
  .front-btn {
    padding: 10px 10px;
    border: 1px solid #ffbc2a;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
    background-color: #ffbc2a;
  }
  .range {
    margin-right: 20px;
  }
  .font-family {
    font-size: 16px;
    margin: 0 20px;
  }

  .font-family label {
    margin-right: 10px;
  }
  .font-family select {
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #ffbc2a;
  }
  .color-btn{
    padding: 4px;
    border-radius: 4px;
    border: 1px transparent
  }