.designDrawer {
    height: 100%;
    background-color: #293039;
    position: relative;
    display: flex;
  }
  
  .toolsNav {
    width: 72px;
    background-color: #0e1318;
    margin-right: 8px;
    position: relative;
    z-index: 2;
  }
  
  .buttonsNav {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
  }
  .active {
    color: white !important;
  }
  .btn-tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #aaaaaa;
    background-color: inherit;
    font-size: 12px;
    width: 72px;
    height: 72px;
    border: none;
  }
  .drawer {
    background-color: #293039;
    width: 360px;
    height: 100%;
    margin-left: -365px;
    transition: all 1s ease;
  }
  .drawer-icon {
    font-size: 20px;
  }
  .highlight {
    width: 72px;
    height: 72px;
    position: absolute;
    z-index: 2;
    top: 0px;
    transition: transform 0.2s ease;
  }
  
  .highlightClosed {
    width: 72px;
    height: 72px;
    position: absolute;
    z-index: 2;
    top: 0px;
    transition: transform 0s ease;
  }
  
  .background {
    width: 100%;
    height: 100%;
    background-color: #293039;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .hidden {
    opacity: 0;
  }
  
  .handle {
    position: absolute;
    top: 50%;
    right: -20px;
    border-left: 4px solid transparent;
    margin-top: -40px;
    z-index: 10;
  }
  
  .container {
    position: relative;
    border: none;
    background: transparent;
    outline: none;
  }
  
  .handleIcon {
    position: absolute;
    top: 50%;
    font-size: 1.2rem;
    margin-top: -12px;
    right: 2px;
    color: #eeeeee;
    background: transparent;
  }
  
  .showDrawer {
    margin-left: 0px;
  }