.login-back{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: -30px;
  overflow: hidden;
  z-index: -1;
  opacity: 0.8;
}
.loginContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 60%;
  border-radius: 6px;
  background-color: white;
  padding: auto 0; 
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.7s; /* Firefox < 16 */
   -ms-animation: fadein 0.7s; /* Internet Explorer */
    -o-animation: fadein 0.7s; /* Opera < 12.1 */
       animation: fadein 0.7s;
} 
@keyframes fadein {
  from { 
    opacity: 0;
    top: 40%;
  }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { 
    opacity: 0;
    top: 40%;
  }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { 
    opacity: 0;
    top: 40%;
  }
  to   { opacity: 1; }
}
  .login-info {
    margin: 70px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login-info h1 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .login-info p {
    color: #717477;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .login-btn {
    display: flex;
    padding: 8px 9px;
    font-size: 15px;
    margin-bottom: 16px;
    background-color: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
  .social-btn{
    width: 100%;
    border: 2px solid #dcdcdc;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .sign-in{
    width: 100%;
    border: 2px transparent;
    background: #ac8bf9;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: background 0.1s;
  }
  .sign-in:hover {
    background: #f983f0;
  }
  .social-btn:hover{
    border: 2px solid rgb(15, 179, 179);
  }
  .signup-btn {
    border: 2px transparent;
    background: #ee641a;
    color: white;
    display: flex;
    justify-content: center;
    transition: all 0.3s;
    width: 100%;
    transition: background 0.1s;
  }
  .signup-btn:hover {
    background: #c5b452;
  }
  
  .login-foot {
    font-size: 10px !important;
  }
  .login-foot a {
    color: teal;
    text-decoration: underline;
  }
  .login-pic {
    width: 50%;
    margin-left: 3%;
  }
  .login-vector {
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  .signin-form{
    width: 100%;
  }
  .signin-back{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: -30px;
    overflow: hidden;
    z-index: -1;
    filter: hue-rotate(270deg);
    opacity: 0.6;
  }
  .striked-line {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
  
    .striked-line hr {
      height: 1px;
      border: none;
      background-color: #ddd;
      width: 40%;
    }
    .errors p{
      color: red;
      margin-top:0;
    }
  
    .signin-btn{
      width: 100%;
      border: 2px transparent;
      background: #5fb1a9;
      color: white;
      align-items: center;
      display: flex;
      justify-content: center;
      transition: background 0.1s;
    }
    .signin-btn:hover {
      background: #5fb0f7;
    }
  /*------------------Logout.jsx------------------*/
  .drop-btn {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(9, 255, 255, 0.267);
  }